{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chat/style.css' %}">
    <title>Chat App</title>
</head>
<body>
    <h1>Hello world</h1>
    <div class="main">
        <div class="left">
            <div class="title">Groups</div>
            <div class="groups-container">
                <div class="group-box">
                    <span class="gb-text">Main</span>
                </div>
                <div class="group-box">
                    <span class="gb-text">Main</span>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="message-box">
                <div class="post-body">
                    <div class="post-data">
                        <span class="sender">Admin</span>
                        <span class="time">Time</span>
                    </div>
                    <div class="post-content">
                        This is a good morning
                    </div>
                </div>
                <div class="post-body">
                    <div class="post-data">
                        <span class="sender">Admin</span>
                        <span class="time">Time</span>
                    </div>
                    <div class="post-content">
                        This is a good morning
                    </div>
                </div>
                <div class="post-body">
                    <div class="post-data">
                        <span class="sender">Admin</span>
                        <span class="time">Time</span>
                    </div>
                    <div class="post-content">
                        This is a good morning
                    </div>
                </div>
                <div class="post-body">
                    <div class="post-data">
                        <span class="sender">Admin</span>
                        <span class="time">Time</span>
                    </div>
                    <div class="post-content">
                        This is a good morning
                    </div>
                </div>
                <div class="post-body">
                    <div class="post-data">
                        <span class="sender">Admin</span>
                        <span class="time">Time</span>
                    </div>
                    <div class="post-content">
                        This is a good morning
                    </div>
                </div>
            </div>
            <div class="input-box">
                <input type="text" class="msg-input" id="msg">
                <button><img src="{% static 'img/send.png'%}" alt="" class="send-btn"></button>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'chat/script.js' %}"></script>
</html>