*{
    border-collapse: collapse;
    font-family: cursive;
}

body {
    background: linear-gradient(120deg, #00ffff, #ff49b9);
}

.main{
    display: grid;
    grid-template-columns: 40% 60%;
    background: rgba(255, 255, 255, 0.2);
    max-width: 1000px;
    height: 90%;
    margin: auto;
    overflow: hidden;
}

.right {
    height: 600px;
    display: grid;
    grid-template-rows: 90% 10%;
    background: rgba(145, 234, 234, 0.5);
    position: relative;
    height: 100%;
}

.input-box {
    position: relative;
    bottom: 110%;
    transform: translate(0, 60px);
    background-color: pink;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-box {
    background-color: pink;
    padding: 5%;
    overflow: scroll;
    height: 500px;
}

.me {
    float: right;
    width: 100%;
}

.message-box::-webkit-scrollbar {
    display: none;
}

.msg-input {
    justify-self: center;
    height: 50px;
    width: 500px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 60px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.msg-input:focus{
    box-shadow: 0 0 30px #666;
}

.send-btn {
    background: rgb(148, 255, 250);
    border: none;
    outline: none;
    position: relative;
    transform: translateX(-30px);
    border-radius: 10px;
}

.send-btn img{
    height: 48px;
    border: none;
    outline: none;
}

.post-body {
    width: 80%;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

.time {
    position: relative;
    float: right;
}

.title {
    padding: 10px;
}